/* GLOBAL================================================== */

	html {
   		font-size: 100%;
   		width: 100%;
   		min-height: 100%;
   		margin: 0;
		-webkit-font-smoothing: antialiased;
   		background-color: #fefefe;
   		overflow-x: hidden;
   		}
    
	body {
		height: 100%;
		width: 100%;
  		margin: 0 auto;
  		position: relative;
  		font-size: 18px;
  	  	}
		
	h2,h3,h4,h5,h6,p {
	   line-height: 1.45;
	}

	h1 { 
		font-family: 'Karbon';
		font-size: 2.3em; 
		line-height: 55px;
		font-weight: normal;
		color: #fefefe;
		font-feature-settings: "kern";
		text-shadow: 0 0 1px rgba(200,200,200,0.5);
	}
	
	h2 { 
		font-family: 'Karbon';
		color: #181818;
		font-size: 2em; 
		line-height: 1.1em;
		font-weight: bold;
		text-align: left;
		text-shadow: 0 0 1px rgba(0,0,0,0.4);
		text-rendering: optimizeLegibility;
		  font-feature-settings: "kern";
		  -webkit-font-feature-settings: "kern";
		  -moz-font-feature-settings: "kern";
		  -moz-font-feature-settings: "kern=1";
	}
	
	p { 
		font-family: 'Karbon';
		font-size: 0.92em; 
		color: #181818;
		font-weight: normal;
		letter-spacing: 0.01em;
		text-shadow: 0 0 1px rgba(0,0,0,0.4);
		margin: 0 0 0 0;
		text-rendering: optimizeLegibility;
		  font-feature-settings: "kern";
		  -webkit-font-feature-settings: "kern";
		  -moz-font-feature-settings: "kern";
		  -moz-font-feature-settings: "kern=1";
	}
	
	a{ 
		text-decoration: underline;
		color: #fefefe;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	a:visited{ 
		color: #fefefe;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	a:hover{ 
		color: #fefefe;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	/*Link Color Settings*/
	.ldefault:visited{ 
		color: #fefefe;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.ldefault:hover{ 
		color: #fefefe;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.lred, .lred:hover, .lred:visited{
		color: #E0533B;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.lorange, .lorange:hover, .lorange:visited{
		color: #EBB54A;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.lgreen, .lgreen:hover, .lgreen:visited{
		color: #94ed6b;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.lblue, .lblue:hover, .lblue:visited{
		color: #73a6fc;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.ared, .ared:hover, .ared:visited{
		color: #E0533B;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.aorange, .aorange:hover, .aorange:visited{
		color: #EBB54A;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.agreen, .agreen:hover, .agreen:visited{
		color: #94ed6b;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.ablue, .ablue:hover, .ablue:visited{
		color: #73a6fc;
		-webkit-transition: color, 0.3s ease-out;
		-moz-transition: color, 0.3s ease-out;
		-o-transition: color, 0.3s ease-out;
		transition: color, 0.3s ease-out;
		-webkit-backface-visibility: hidden;
	}
	
	.conlink{
		color: #181818;
	}
	
	.conlink:visited{
		color: #181818;
	}
		
/* BODY================================================== */
	
	.wrapper{
		width:100%;
		background-color: #fefefe;
		position: relative;
	}
	
	header{
		width: 100%;
		position: fixed;
		height: 50px;
		background-color: #0d0d0d;
		z-index: 100;
	}
	
	#logolink{
		height: 50px;
		position: relative;
		display: block;
		float: left;
		z-index: 999;
		}
	
	#logo{
		width: 50px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		float: left;
	}
	
	#wordmark{
		position: relative;
		display: inline-block;
		float: left;
		line-height: 50px;
		margin: -1px 0 0px 15px;
	}
	
	nav{

	}
	
	.menu{
		position: relative;
		list-style: none;
		margin: 0; 
		height: 50px;
		margin-right: 25px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: flex-end;
	}
	
	#ham{
		display: none;
		opacity: 0;
		position: absolute;
	}
	
	label{
		position: relative;
		top: 0px;
	}
	
	.tlink{
		position: relative;
		margin-left: 25px;
	}
	
	.tlink a{
		font-weight: bold;
		font-family: 'Karbon';
		font-size: 0.95em; 
		line-height: 50px;
		letter-spacing: 0.03em;
		text-decoration: none;
		font-feature-settings: "kern";
		text-shadow: 0 0 1px rgba(200,200,200,0.5);
	}
	
	.section{
		position: relative;
		height: 100vh;
	}
	
	.sleft{
		position: relative;
		direction: rtl;
		width: 50%;
		margin-top: 50px;
		float: left;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		height: calc(100vh - 100px);
	}
	
	.leftcontent{
        display: table;
        height: 100%;
		margin: 0 75px 0 50px;
		direction: ltr;
		padding-bottom: 50px;
	}

    .leftcontent p {
        text-align: justify;
        margin-top: 12px;
        margin-bottom: 12px;
	}

    .leftcontent .textblock {
        display: table-cell;
        vertical-align: middle;
    }

	.contitle{
	}
	
	.cont{
		color: #181818;
		font-weight: normal;
		font-family: 'Karbon';
		font-style: italic;
		font-size: 0.92em; 
		letter-spacing: 0.03em;
	}
	
	#conlink{
		color: #181818;
		font-weight: bold;
		font-family: 'Karbon';
		font-style: normal;
	}
	
	#entrytext{
		margin-bottom: 40px;
	}
	
	#entrylink{
		font-weight: bold;
		font-family: 'Karbon';
		font-size: 0.8em; 
		line-height: 1em;
		letter-spacing: 0.03em;
		text-decoration: none;
		padding: 10px 15px;
		background-color: #181818;
	}
	
	.sright{
		position: relative;
		width: 50%;
		height: calc(100vh - 100px);
		margin-top: 50px;
		float: right;
	}

    .sright .row {
        overflow: hidden;
    }

	.projectthumbs{
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		background-color: #fefefe;
	}
	
	.personthumbs{
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		background-color: #fefefe;
	}
	
	#generator {
		position: relative;
		
	}
	
	.col-md-3{
		display: none;
	}
	
	.thumbnail:before {
		content:'';
		float:left;
		padding-top:100%;
	}
	
	.thumbnail {
		width: calc(100% / 3);
		position: relative;
		float: left;
		-webkit-transition: opacity, 0.3s ease-out;
		-moz-transition: opacity, 0.3s ease-out;
		-o-transition: opacity, 0.3s ease-out;
		transition: opacity, 0.3s ease-out;
	}
	
	.pimg:hover{
		opacity: 0.75;
		cursor: pointer;
	}
	
	.pcontent{
		display: none;
	}
	
	.personimg:hover{
		opacity: 0.75;
		cursor: pointer;
	}
	
	.personcontent{
		display: none;
	}
	
	footer{
		width: 100%;
		position: fixed;
		bottom: 0;
		height: 50px;
		background-color: #0d0d0d;
		z-index: 100;
	}
	
	#bu_logo{
		display: block;
		height:50px; 
		float: left;
	}
	
	#hic{
		display: block;
		height:50px; 
		float: left;
		font-size: 0.65em;
		line-height: 17px;
		margin: 8px 0 8px 15px;
		text-decoration: none;
	}
	
	@media all and (max-width: 1250px) {
		
		.thumbnail{
			width: calc(100% / 2);
		}
	
	}
	
	@media all and (max-width: 900px) {
		
		.sleft{
			width: 100%;
			height: calc(80vh - 100px);
		}
		
		.leftcontent {
			margin: 0 50px 0 50px;
		}
		
		.sright{
			width: 100%;
			height: 20vh;
			overflow-y: hidden;
			margin-top: 0px;
			white-space: nowrap;
		}
		
		#thumbnailcontainer{
			overflow-x: hidden;
			width: 360vh;
		}
		
		.thumbnail{
			width: 20vh;
			display: table-cell;
		}
		
	}
	
	/* Small screens */
	@media all and (max-width: 500px) {
		
	nav{
		background-color: #181818;
		height: 50px;
	}
	
	#mobilenav::before{
		content: "";
		display: block;
		position: absolute;
		pointer-events: none;
		top: 0px;
		right: 0px;
		margin: -8px 0px 0 0;
		height: 3px;
		width: 21px;
		z-index: 99;
		background-color: #fefefe;
	}
	
	#mobilenav{
		display: block;
		position: absolute;
		pointer-events: none;
		top: 15px;
		right: 0px;
		margin: 8px 15px 0 0;
		height: 3px;
		width: 21px;
		z-index: 99;
		background-color: #fefefe;
	}
	
	#mobilenav::after{
		content: "";
		display: block;
		position: absolute;
		pointer-events: none;
		top: 0px;
		right: 0px;
		margin: 8px 0px 0 0;
		height: 3px;
		width: 21px;
		z-index: 99;
		background-color: #fefefe;
	}
	
	#mobilenav.mactive::before{
		content: "";
		display: block;
		position: absolute;
		pointer-events: none;
		top: 0px;
		right: 0px;
		margin: 0px 0px 0 0;
		height: 3px;
		width: 21px;
		z-index: 99;
		background-color: #fefefe;
		transform: rotate(45deg);
		-webkit-transition: top, 0.3s ease-out;
		-moz-transition: top, 0.3s ease-out;
		-o-transition: top, 0.3s ease-out;
		transition: top, 0.3s ease-out;
	}
	
	#mobilenav.mactive{
		display: block;
		position: absolute;
		pointer-events: none;
		top: 15px;
		right: 0px;
		margin: 8px 15px 0 0;
		height: 3px;
		width: 0px;
		z-index: 99;
		background-color: #fefefe;
		-webkit-transition: top, 0.3s ease-out;
		-moz-transition: top, 0.3s ease-out;
		-o-transition: top, 0.3s ease-out;
		transition: top, 0.3s ease-out;
	}
	
	#mobilenav.mactive::after{
		content: "";
		display: block;
		position: absolute;
		pointer-events: none;
		top: 0px;
		right: 0px;
		margin: 0px 0px 0 0;
		height: 3px;
		width: 21px;
		z-index: 99;
		background-color: #fefefe;
		transform: rotate(-45deg);
		-webkit-transition: top, 0.3s ease-out;
		-moz-transition: top, 0.3s ease-out;
		-o-transition: top, 0.3s ease-out;
		transition: top, 0.3s ease-out;
	}
	
	.menu {
		flex-direction: column;
		width: 100%;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		height: 150px;
	}
	
	.menuunder{
		z-index: -1;
	}
	
	.menuover{
		z-index: 999;
	}
	
	label{
		top: -150px;
		z-index: -1;
	}
	
	#ham{
		display: block;
		position: relative;
		cursor: pointer;
		float: right;
		margin: 0px 25px 0px 0px;
		top: 50%;
		transform: translateY(-50%) scale(1.62,1.54);
		background-color: #fefefe;
	}
	
	#ham:checked + label{
		top: 0px;
		-webkit-transition: top, 0.3s ease-out;
		-moz-transition: top, 0.3s ease-out;
		-o-transition: top, 0.3s ease-out;
		transition: top, 0.3s ease-out;
	}
	  
	.tlink{
		margin-left: 0px;
		width: 100%;
		height: 50px;
		box-sizing: border-box;
		border-top: 2px solid #fefefe;
		background-color: #181818;
	}
	
	.tlink a{
		text-align: center;
		margin: 0 auto;
		display: block;
	}
	
	.leftcontent {
		margin: 0 30px 0 30px;
	}
	
	}
	

	
