@media screen and (max-width: 299px) {
  #glyphicon {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
  #glyphicon {
    font-size: 2em;
  }
}

@media screen and (min-width: 800px) {
  #glyphicon {
    font-size: 3.5em;
  }
}
