#innerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15em;
  min-width: 8em;
  padding: 0 0.5em 0 0.5em;
}

#cardIcon {
  width: 4.5vh;
  height: 4.5vh;
  margin-left: auto;
  margin-right: auto;
}

#cardHeading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5vh;
}

#cardText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
}

#stackityStack {
  margin: 0.3em 1.5em;
  justify-content: space-around;
  align-items: flex-start;
}
