#innerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15em;
  min-width: 8em;
  padding: 0 0.5em 0 0.5em;
}

#cardIcon {
  width: 3.5em;
  height: 3.5em;
  margin-left: auto;
  margin-right: auto;
}

#cardHeading {
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.4em;
}

#cardText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
}

#stackityStack {
  justify-content: space-around;
}
