#innerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15em;
  min-width: 8em;
  padding: 0 0.5em 0 0.5em;
}

#h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

#stackityStack {
  margin: 0.3em 1.5em;
  justify-content: space-between;
  align-items: flex-start;
}
