/*CSS RESET================================================= */
    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
     table, caption, tbody, tfoot, thead, tr, th, td,
     article, aside, canvas, details, embed, 
     figure, figcaption, footer, header, hgroup, 
     menu, nav, output, ruby, section, summary,
     time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
      }
     /* HTML5 display-role reset for older browsers */
     article, aside, details, figcaption, figure, 
     footer, header, hgroup, menu, nav, section {
	display: block;
     }
     body {
	line-height: 1;
     }
     ol, ul {
	list-style: none;
    }
     blockquote, q {
	quotes: none;
    }
     blockquote:before, blockquote:after,
     q:before, q:after {
	content: '';
	content: none;
    }
    
    table {
	border-collapse: collapse;
	border-spacing: 0;
    }
    
   ul {
    padding: 0;
    list-style-type: none;
}


/* FONTS================================================= */
    
	@font-face {
    		font-family: 'Karbon';
    		src: url('../fonts/KarbonWeb-Regular.eot');
    		src: url('../fonts/KarbonWeb-Regular.eot') format('embedded-opentype'),
         	url('../fonts/KarbonWeb-Regular.woff2') format('woff2'),
         	url('../fonts/KarbonWeb-Regular.woff') format('woff');
    		font-weight:normal;
    		font-style:normal;
    		}
			
	@font-face {
    		font-family: 'Karbon';
    		src: url('../fonts/KarbonWeb-Medium.eot');
    		src: url('../fonts/KarbonWeb-Medium.eot') format('embedded-opentype'),
         	url('../fonts/KarbonWeb-Medium.woff2') format('woff2'),
         	url('../fonts/KarbonWeb-Medium.woff') format('woff');
    		font-weight:bold;
    		font-style:normal;
    		}

/* GLOBAL================================================== */

	html {
    		font-size: 100%;
    		width: 100%;
    		min-height: 100%;
    		margin: 0;
    		-webkit-font-smoothing: antialiased;
    		background: #fefefe;
    		}
    
	body {
		height: 100%;
		width: 100%;
  		margin: 0 auto;
  		position: relative;
  		font-size: 18px;
  	}

	h1 { 
		font-family: 'Karbon';
		font-size: 1.3em; 
		line-height: 0.85;
		letter-spacing: 0.03em;
		font-weight: normal;
	}
	
	p { 
		font-family: 'Karbon';
		font-size: 1em; 
		line-height: 1.45em;
		font-weight: normal;
		letter-spacing: 0.01em;
	}
	
	a{ 
		font-family: 'Karbon';
		font-size: 1em; 
		line-height: 1.45em;
		font-weight: normal;
		letter-spacing: 0.01em;
		text-decoration: none;
	}
	
	a:hover{
		text-decoration: underline;
	}
	
		
/* BODY================================================== */
	
	.wrapper{
		width:100%;
		position: relative;
		top: 0;
		left: 0;
	}
	
	header{
		width: 90%;
		position: fixed;
		padding: 0 5% 0;
		height: 80px;
		background-color: #181818;
		z-index: 100;
	}
	
	#logo{
		width: 250px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	#about{
		width: 100%;
		position: relative;
		background-color: #fefefe;
	}
	
	#pattern{
		width: 100%;
		position: relative;
		margin-top: 80px;
	}
	
	.blurb{
		width: 66%;
		position: relative;
		margin: 40px 17%;
		
	}
	
	footer {
		width: 90%;
		position: relative;
		padding: 0 5%;
		height: 80px;
		background-color: #181818;
	}
	
	#bu_logo{
		position: relative;
		float: left;
		top: 50%;
		transform: translateY(-50%);
		}
	
	#hic{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		float: left;
		color: #fefefe;
		font-size: 0.85em;
		margin-left: 40px;
	}
	
	@media print, screen and (max-width: 440px) {
 
		#bu_logo{
			width: 60px;
		}
		
		#hic{
			margin-left: 10px;
			font-size: 0.6em;
		}
		
	}